x-common-build: &common-build
  context: .
  dockerfile: Dockerfile

x-common-service: &common-service
  volumes:
    - .:/workspace
    - ~/.gitconfig:/root/.gitconfig
    - pre-commit-cache:/pre-commit
    - uv-cache:/root/.cache/uv
  working_dir: /workspace
  entrypoint: ./scripts/utilities/docker-entrypoint.sh

services:
  # CPU-only services
  app:
    image: ${PROJECT_NAME:-default}:${TAG:-latest}
    <<: *common-service

  app-build:
    image: ${PROJECT_NAME:-default}:${TAG:-latest}
    build:
      <<: *common-build
      args:
        PYTHON_VERSION: ${PYTHON_VERSION}
        INSTALL_EXTRAS: ${INSTALL_EXTRAS:-}
        DOCKER_BASE_IMAGE: ${DOCKER_BASE_IMAGE}
    <<: *common-service
    profiles:
      - build

  # GPU-enabled services
  app-gpu:
    image: ${PROJECT_NAME:-default}:${TAG:-latest}
    <<: *common-service
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  app-build-gpu:
    image: ${PROJECT_NAME:-default}:${TAG:-latest}
    build:
      <<: *common-build
      args:
        PYTHON_VERSION: ${PYTHON_VERSION}
        INSTALL_EXTRAS: ${INSTALL_EXTRAS:-}
        DOCKER_BASE_IMAGE: ${DOCKER_BASE_IMAGE}
        CUDA_VERSION: ${CUDA_VERSION:-}
        CUDNN_VERSION: ${CUDNN_VERSION:-}
        NCCL_VERSION: ${NCCL_VERSION:-}
    <<: *common-service
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    profiles:
      - gpu-build

  lab:
    image: ${PROJECT_NAME:-default}:${TAG:-latest}
    <<: *common-service
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --ServerApp.token='' --ServerApp.password=''
    ports:
      - "8888:8888"
    profiles:
      - lab
    environment:
      - JUPYTER_ENABLE_LAB=yes

volumes:
  pre-commit-cache:
  uv-cache:
